@font-face{
	font-family: 'Robot';
	src: url('fonts/Roboto-Regular.ttf');
}

@font-face{
	font-family: 'Robot-bold';
	src: url('fonts/Roboto-Bold.ttf');
}
@font-face{
	font-family: 'Robot-medium';
	src: url('fonts/Roboto-Medium.ttf');
}



body{
	font-family: 'Robot';
	margin: 0 auto;
	background: #E8E8E8;
	background:  rgba(240, 255, 255,0.8);
	background-repeat: no-repeat;
}


header{
	background-size: 100%;
}


nav{
	width: 100%;
	height: 60px;
	color: white;
	background:hsla(252, 90%, 16%, 0.815);	
	display: flex;
	align-items: center;
}


.container{
	width: 1170px;
	margin: 0 auto;
}

.block__nav{
	padding: 0 auto;
}

.test-0-logo{
	display: block;
	width: 3.5%;
	height: auto;
	margin-left: 1%;
}
.logo{
	float: left;
}
.position{
	display: flex;
	justify-content: space-between;
	margin-left: 59%;
}


.window_three{
	margin-top: 3vh;
	display: block;
	height: 100vh;
	width: 100%;
	background-size: cover;
	color: white;
	border: 2px solid #f0f0;

} 

.three_title{
	font-size:200%;
	margin-left: 2vw;
	padding-top:5%;

}

.position__three{
	width: 150vh;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	justify-content: cener;

}


.position__person{
	width: 150vh;
	height: 40%;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	justify-content: cener;
}


.ser_block{
	height: 20vh;
	width: 150vh;
	display: block;
	margin-top: 1vw;
	background-color: rgba(0,0,0,0.5);
	border-radius: 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.person_block{
	height: 500px;
	border-radius: 5px;
	display: flex;
	background-color: rgba(0,0,0,0.5);
	margin-top: 3%;
	display: flex;
	flex-direction: column;
	justify-content: cener;
	border: 1px solid red;
}

.title{
	color: black;
}

.position__three {

}

.train {
	border-bottom: 1px solid;
	width: 85%;
	display: flex;
	justify-content: space-between;


}
.number_train{
	display: flex;
	background: #fff;
}

.train_elemnts{
	margin-top: 4vh;
	display: flex;
	width: 100%;
	align-items: center;
}

.test-4-fn {}
.test-4at {}
.info_train {
	width: 80%;
	display: flex;
	flex-direction: row;
	margin-left: 4vw;
	justify-content: space-between;
}
.train_button{
	width: 20%;
	height: 90%;
	display: flex;
	justify-content: center;
}
.date_aks {}
.test-4-dd {}
.test-4-dt {
	font-size: 0.8em;
	text-align: center;
}
.time_train {}
.test-5-ft{
	color: #fff;
}

.test-5-at, .test-5-dd, .test-5-dt  {
	font-size: 0.8em;
	text-align: center;
}

.test-5-dd, .test-5-dd{
	margin-bottom: 1vh;
}

.test-5-dt, .test-5-at{
	margin-top: 1vh;
} 
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	height: 100%;
	border-radius: 0.3vw;
	background: hsla(252, 90%, 16%, 0.815);	
	color: white;
}



.person_text {
	font-size: 1.5em

}
.count_person {
	display: flex;
	margin-top: 3%;
	align-items: center;

}

nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input_person {
	border-radius: 5px;
	background: #fff;
	appearance: none;
	width: 5%;
	height: 85%;
	text-align: center;
	font-size: 1.2em;
}
.collection_peson{
	display: flex;
	flex-direction: column;
}

.info_person {
	display: flex;
	margin-top:5%;
}
.test-5-name {

}
.test-5-add{
	margin-left: 4%;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.input{
	height: 80%;
	width: 20%;
	font-size: 150%;
	border: 1px solid #f0f0f0f0;
	border-radius: 5px;
	margin-left: 1%;
}

.number{
	outline-style: none;
	font-size: 150%;
	width: 3%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: #fff;
}
.test-5-last {}
.test-5-dob {}
.test-5-doc {}
.person_button {}
.test-5-book{
	width: 15%;
	height: 70%;
		
	margin-top: 3%;
	margin-left: 70%;
	background: #fff;
	border-radius: 3px;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}