@font-face{
	font-family: 'Robot';
	src: url('fonts/Roboto-Regular.ttf');
}

body{
	font-family: 'Robot';
	padding: 0 auto;
	margin: 0 auto;
	background: #E8E8E8;
}


header{
	height: 900px;
	background-size: 100%;
}

.background_color{
	width: 100%;
	height: 100vh;
	/* background: url("images/train-station.jpg"); */
	background-color: rgb(0, 0, 0);
	/* background-size: cover; */	
	
}

.backround_image{
	width: 100%;
	height: 100%;
	height: 100vh;

	background: linear-gradient(90deg, #0000002f 0%,  #000000c0 0%), url("images/train-station.jpg");
	background-attachment: fixed;
}

nav{
	width: 100%;
	height:	7%;
	color: white;
	background:hsla(252, 90%, 16%, 0.815);	
	display: flex;
	align-items: center;
}


.container{
	width: 1170px;
	margin: 0 auto;
}

.block__nav{
	padding: 0 auto;
}

.test-0-logo{
	display: block;
	width: 3.5%;
	height: auto;
	margin-left: 1%;
	float: left;
}

.position{
	display: flex;
	justify-content: space-between;
	margin-left: 59%;
}

.header_content{
	border: 1px solid red;
}

.header__title{
	display: inline-block;
	padding-top: 14%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: white;
	font-size: 65px;
}

.quote{
	color: white;
	font-size: 26px;
	text-align: center;
	margin-top: 1.1%;
}

.header_button{
	transform: translate(0, 250px);
	width: 13.1%;
	height: 4.968%;
	background-color: #E8E8E8;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	border-radius: 5px;	
}

.hederButton_text{
	display: flex;
	align-items: center;
	font-size: 18px;

}

section{
	display: block;
	
}

.one_title{
	
	font-size: 156%;
	font-weight: 600;
	text-align: center;
	border-radius: 10px;
}

.one_backround{
	margin-top: 7%;
	width: 100%;
	height: 10px;
}


.wind_one{
	border-radius: 10px;
	margin-top: 2%; 
	padding-left: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	display: flex;
	justify-content: space-between;
}

.one_blocks{
	width: 100%;
	height: 150px;
	text-align: center;
	margin-left: 5%;
}

.one_blocks:not(:nth-child(1)) {
	border-left: 1px groove;
  }

.one_blocks:hover .one_icons{
	transition-duration: 0.4s;
	transform:scale(1.1,1.1);	
}



.one_icons{
	width: 25%;
	height: auto;
}




.one_text{
	margin-top: 10%;
}


.position__two{
	
	height: 550px;
	
	margin-left: 10%;
}

.two__windows{
	width: 20%;
	height: 10%;
	background: linear-gradient(90deg, #0000002f 0%,  #313131f6 0%), url("images/c1_1769069.jpg") no-repeat;
	background-size: cover;
	color: white;
	border-radius:10px;
	margin-top: 18%;
}

.two__title{
	font-size: 140%;
	text-align: center;
	padding-top: 40px;
}


.two_ontitle{
	font-size: 110%;
	margin-top: 5%;
	margin-left: 5%;
}

.line{
	width: 40%;
	height: 10%;
	border: 1px solid red;
	margin-left: 5%;
}

.two__icons{
	width: 5%;
	height: auto;
	float: left;
}

.two_block{
	margin-top:5%;
}

.two_title{
	font-size: 100%;
	margin-left:2%;
}

.two_text{
	
}


.window_three{
	display: block;
	height: 600px;
	width: 100%;
	background: url(images/im-196106.jpeg);
	margin-top: 4%;
	color: white;
	
} 

.three_title{
	font-size:240%;
	text-align: center;
	padding-top:5%;

}

.position__three{
	/* margin-top: 10%; */
	margin-left:5%;
}

.input{
	width: 15%;
	font-size: 150%;
	border: 1px solid #EB8931;
	border-radius: 5px;
	margin-left: 1%;
}

.test-0-fdt, .test-0-fat{
	opacity: 40%;
	font-weight: 400;
}

input:focus{
	opacity: 100%;
	outline: none;
	border: 1px solid #EB8931;
}

.person{
	margin-top:3%;
	margin-left:6%;
	display: flex;
	align-items: center;
}
.person_text{
	font-size:150%;
}

.test-0-fnp{
	width: 4%;
}

.ser_block{
	width: 80%;
	display: block;
	padding: 3%;
	margin: 10% auto;
	background-color: hsla(0, 0%, 55%, 0.5);
	border-radius: 30px;
}

