@font-face{
	font-family: 'Robot';
	src: url('fonts/Roboto-Regular.ttf');
}

@font-face{
	font-family: 'Robot-bold';
	src: url('fonts/Roboto-Bold.ttf');
}
@font-face{
	font-family: 'Robot-medium';
	src: url('fonts/Roboto-Medium.ttf');
}



body{
	font-family: 'Robot';
	padding: 0 auto;
	margin: 0 auto;
	background: #E8E8E8;
}


header{
	background-size: 100%;
}

.background_color{
	width: 100%;
	height: 100vh;
	/* background: url("images/train-station.jpg"); */
	background-color: rgb(0, 0, 0);
	/* background-size: cover; */	
	
}

.backround_image{
	width: 100%;
	height: 100%;
	height: 100vh;

	background: linear-gradient(90deg, #0000002f 0%,  #000000c0 0%), url("images/train-station.jpg");
	background-attachment: fixed;
}

nav{
	width: 100%;
	height:	7%;
	color: white;
	background:hsla(252, 90%, 16%, 0.815);	
	display: flex;
	align-items: center;
}


.container{
	width: 1170px;
	margin: 0 auto;
}

.block__nav{
	padding: 0 auto;
}

.test-0-logo{
	display: block;
	width: 3.5%;
	height: auto;
	margin-left: 1%;
}
.logo{
	float: left;
}
.position{
	display: flex;
	justify-content: space-between;
	margin-left: 59%;
}



.header__title{
	display: inline-block;
	padding-top: 13%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: white;
	font-size: 3.43em;
}

.quote{
	color: white;
	font-size: 1.625em;
	text-align: center;


}

.header_button{
	transform: translate(0, 150px);
	width: 15%;
	height: 7%;
	background-color: #E8E8E8;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	border-radius: 0.4vw;	
}

.hederButton_text{
	display: flex;
	align-items: center;
	font-size: 1.125em;

}

section{
	display: block;
	
}

.one_title{
	
	font-size: 156%;
	font-weight: 600;
	text-align: center;
	border-radius: 10px;
}

.one_backround{
	margin-top:	3%;
	width: 100%;
	height: 10px;
}


.wind_one{
	border-radius: 10px;
	margin: 0 auto;
	transform: translate(0,2%); 
	padding-left: 5%;
	padding-top: 4%;
	padding-bottom: 5%;
	display: flex;
	justify-content: space-between;
}

.one_blocks{
	width: 100%;
	height: 150px;
	text-align: center;
	margin-left: 5%;
}

.one_blocks:not(:nth-child(1)) {
	border-left: 1px groove;
  }

.one_blocks:hover .one_icons{
	transition-duration: 0.4s;
	transform:scale(1.1,1.1);	
}



.one_icons{
	width: 25%;
	height: auto;
}




.one_text{
	margin-top: 10%;
	font-family: 'Robot-medium';
	font-size: 1.125em;
}


.position__two{
	position: relative;
	top: 3vw;

	margin-left: 5vh;
	font-size: 1.15em;
}

.two__windows{	
	margin: 0 auto;
	border-radius: 10px;
	width: 96vw;
	height: 53vh;
	background: linear-gradient(90deg, hsla(252, 90%, 16%, 0.815) 0%, hsla(252, 90%, 16%, 0.815) 0%), url("images/c1_1769069.jpg") no-repeat;
	background-size: cover;
	position: relative;
	color: white;
	margin-top: 25vw ;
}

.two__title{
	width: 100%;
	font-size: 1.5em;
	padding-top: 3vw;
	float: left;
	text-align: center;
	margin-left: 12vh;
}

.two_button{
	position: absolute;
	width: 14.62vw; /*123 */
	height: 6.8vh; /*48 */
	border-radius: 0.59vw;
	background-color: #E8E8E8;
	margin-left: 60vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	margin-top: 13vw;
}


.two_ontitle{
	font-size: 110%;
	margin-top: 5%;
	margin-left: 5%;
}

.line{
	width: 40%;
	height: 10%;
	border: 1px solid red;
	margin-left: 5%;
}

.two__icons{
	max-width: 7%;
	height: auto;
	display: block;
	
}


.two_block{	
	width: 70vh;
	margin-top:5%;
}

.two_blockTitle{
	font-family: 'Robot-bold';
}
.two_text{
	margin-top: 1vh;
}


.window_three{
	margin-top: 3vh;
	display: block;
	height: 100vh;
	width: 100%;
	background: linear-gradient(90deg, hsla(252, 90%, 16%, 0.815) 0%, hsla(252, 90%, 16%, 0.815) 0%), url("images/im-196106.jpeg") no-repeat;
	background-size: cover;
	color: white;
	border: 2px solid #f0f0;
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);

} 

.three_title{
	font-size:240%;
	text-align: center;
	padding-top:5%;

}

.position__three{
	width: 150vh;
	margin-left: 12%;
	display: flex;
	justify-content: cener;
}

.input{
	width: 15%;
	font-size: 150%;
	border: 1px solid #f0f0f0f0;
	border-radius: 5px;
	margin-left: 1%;
}

.test-0-fdt, .test-0-fat{
	opacity: 40%;
	font-weight: 400;

}

input:focus{
	opacity: 100%;
	outline: none;
}

.person{
	margin-top: 3vh;
	margin-left:13%;
	display: flex;
	align-items: center;
}

.value_person{
	display: flex;
	flex-direction: column;
}

.test-0-fbs{
	margin-top: 5vh;
	height: 6vh;
	width: 170px;
	margin-left: 37vh;

}


input{
	box-sizing: border-box;
}
.person_text{
	font-size:150%;
}

.test-0-fnp{
	width: 18%;
	margin-bottom: 5%;
}

.ser_block{

	height: 30vh;
	width: 140vh;
	display: block;
	padding: 3%;
	margin: 10% auto;
	background-color: hsla(0, 0%, 55%, 0.5);
	border-radius: 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.windows__four{
	margin: 0 auto;
	height: 50vw;
	width: 88%;

	display: flex;
	overflow: hidden;
	position: relative;
	justify-content: space-between;
	
}
.stock {
	border-radius: 0.4vw;
	margin-top: 3vw;
	width: 35vw;
	height: 45vw;
	box-shadow: 5px 5px 10px;
	display: flex;
	flex-direction: column;
	background: #fff;
	/*animation: right 5s linear;*/
	animation-fill-mode: forwards;
}

@keyframes left{
	to { transform: translateX(0); }
	form { transform: translateX(0);}
	
}

@keyframes right{
	to { transform: translateX(-1020px); }
	form { transform: translateX(-1020px);}
}


.stockq{
	margin-left: 3vw;
}
.test-0-ai {
	border-radius: 0.4vw;
	width: 35vw;
	height:20vw;
	margin-bottom: 13%;
	background: linear-gradient(120deg, #0000002f 0%,  #000000c0 0%), url(images/promotions/promotion1.jpg);
}

.stockone{
	display: none;
}

.test-0-adm{
	border-radius:;
	position: relative;
	color: white;
	height: 14%;
	width: 170px;
	background: black;
	border-radius: 0.59vw;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	justify-content: center;
	align-items: center;	

}

.test-0-an {
	margin-top: 3vw;
	text-align: center;	
}
.test-0-ad {
	margin-top: 3vw;
	margin-left: 0.8vw;
	margin-right: 0.8vw;
	height: 20vw;
}
.button {}

.slader {
	position: absolute;
	top: 183vw;
	left: 50%;
	margin: 0 auto;
	transform: translate(-50%, 0);
	width: 1300px;
	height: 8vw;
	display: flex;
	justify-content: space-between;
}
.arrow1 {
	background: url(images/arrow-alt-circle-left.svg) no-repeat;
	width: 5vw;
	height: auto;
	position: relative;

}
.arrow2 {
	background: url(images/arrow-alt-circle-right.svg) no-repeat;
	width: 5vw;
	height: auto;
}

.subscription {
	margin-top: 10vw;
	width: 100%;
	height: 50vh;
	position: relative;
	background: linear-gradient(90deg, hsla(252, 90%, 16%, 0.815) 0%, hsla(252, 90%, 16%, 0.815) 0%), url("images/russian-train-in-snow.jpg") no-repeat;
	background-size: cover;
}
.sub_title {
	padding-top: 1vw;
	color: white;

	font-size: 1.75em;
	text-align: center;
}
.sub_input{
	width: 50%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.test-0-sie {
	font-size: 180%;
	border: 1px solid #f0f0f0f0;
	border-radius: 5px;
	margin-left: 1%;
	width: 70%;
	padding-left: 3vh;
}
.test-0-sbs {
	font-size: 120%;
	border: 1px solid #f0f0f0f0;
	border-radius: 5px;
	margin-left: 1%;
	width: 30%;
}


footer{
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: center;
	flex-direction: column;

	background: linear-gradient(90deg, #000000f1 0%,  #000000 0%);
}
.test-0-phone {
	color: white;
	margin-top: 1vw;
}
.contain {
	width:100%;
	height: 13vh;
	display: flex;
	justify-content: space-between;

	margin-top: 5vw;
}
.column {
	height: 8vw;
	color:#f0f0f0f0;
	display: flex;
	flex-direction: column;
	align-items: center;

}



.text {
	
}

.text{
	display: block;
	margin-top: 10px;
}


.footer_text_logo{
	position: relative;
	left: 45%;
	display: flex;
	width: 100%;
	justify-content: center;
	flex-direction: column;	
}

a{
	text-decoration: none;
	color: white;
}
