@font-face{
	font-family: 'Robot';
	src: url('fonts/Roboto-Regular.ttf');
}

@font-face{
	font-family: 'Robot-bold';
	src: url('fonts/Roboto-Bold.ttf');
}
@font-face{
	font-family: 'Robot-medium';
	src: url('fonts/Roboto-Medium.ttf');
}



body{
	font-family: 'Robot';
	margin: 0 auto;
	background: #E8E8E8;
}


header{
	background-size: 100%;
}

.background_color{
	width: 100%;
	height: 100vh;
	/* background: url("images/train-station.jpg"); */
	background-color: rgb(0, 0, 0);
	/* background-size: cover; */	
	
}

.backround_image{
	width: 100%;
	height: 100%;
	height: 100vh;

	background: linear-gradient(90deg, #0000002f 0%,  #000000c0 0%), url("images/train-station.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

nav{
	width: 100%;
	height:	8%;
	color: white;
	background: hsla(252, 90%, 16%, 0.815);	
	display: flex;
	align-items: center;
}


.container{
	width: 1170px;
	margin: 0 auto;
}

.block__nav{
	padding: 0 auto;
}

.test-0-logo{
	display: block;
	width: 3.5%;
	height: auto;
	margin-left: 1%;
}
.test-0-logo, .test-0-phone{
	margin: auto;
}

.logo{
	float: left;
}
.position{
	display: flex;
	justify-content: space-between;
	margin-left: 59%;
}



.header__title{
	display: inline-block;
	padding-top: 13%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: white;
	font-size: 3.43em;
}

.quote{
	color: white;
	font-size: 1.625em;
	text-align: center;


}

.header_button{
	transform: translate(0, 150px);
	width: 15%;
	height: 7%;
	background-color: #E8E8E8;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	border-radius: 0.4vw;	
}

.hederButton_text{
	display: flex;
	align-items: center;
	font-size: 1.125em;
}

section{
	display: block;
	
}

.one_title{
	
	font-size: 1.6em;
	font-weight: 600;
	text-align: center;
	border-radius: 10px;
}

.one_backround{
	margin-top:	3%;
	width: 100%;
}


.wind_one{
	border-radius: 10px;
	margin: 0 auto;
	transform: translate(0,2%); 
	padding: 4% 5% 5%;
	display: flex;
	justify-content: space-between;
}

.one_blocks{
	width: 100%;
	height: 150px;
	text-align: center;
	padding: 0.5rem;
}

.one_blocks:not(:nth-child(1)) {
	border-left: 1px groove;
  }

.one_blocks:hover .one_icons{
	transition-duration: 0.4s;
	transform:scale(1.1,1.1);	
}



.one_icons{
	max-width: 50px;
	height: auto;
}




.one_text{
	margin-top: 10%;
	font-family: 'Robot-medium';
	font-size: 1.125em;
}


.position__two{
	width: 100%;
	height: 80%;
	font-size: 1.15em;
}


.two__windows{	
	margin: 0 auto;
	border-radius: 10px;
	height: 450px;
	min-width: 96vw;
	background: linear-gradient(90deg, hsla(252, 90%, 16%, 0.815) 0%, hsla(252, 90%, 16%, 0.815) 0%), url("images/c1_1769069.jpg") no-repeat;
	background-size: cover;
	position: relative;
	color: white;
	margin-top: 2%;
}

.two__title{
	width: 100%;
	font-family: "Robot-medium";
	font-size: 1.6em;
	padding-top: 5%;
	float: left;
	text-align: center;
}



.two_button_text{
	margin: 0 auto;
	display: block;
	margin-top: 4%;
	border-radius: 5px;
	border: 2px solid black;
	background: none;
	color: white;
	transition: .5s all;
	
	font-size: 1em;
	padding: 10px 30px ;
}

.two_button_text:hover{
	background-color: #E8E8E8;
	color: #000;
	border-color: white;
}


.two_ontitle{
	font-size: 110%;
	margin-top: 5%;
	margin-left: 5%;
}

.line{
	width: 40%;
	height: 10%;
	border: 1px solid red;
	margin-left: 5%;
}

.two__icons{
	max-width: 7%;
	height: auto;
	display: block;
	
}


.two_block{	
	max-width: 30%;
   margin-top: 5%;
}

.two_blockTitle{
	min-width: 80%;
	font-size: 1.2em;
	font-family: 'Robot-bold';
	margin-bottom: 3%;
	border-bottom: 1px solid #f0f0f0f0;
	white-space: nowrap;
}
.two_text{
	width: 100%;
	margin-top: 5%;
	font-family: 'Robot';
	color: #f0f0f0f0;
	display: flex;
	justify-content: space-around;
}
 	

.window_three{
	display: block;
	min-height: 600px;
	width: 100%;
	background: linear-gradient(90deg, hsla(252, 90%, 16%, 0.815) 0%, hsla(252, 90%, 16%, 0.815) 0%), url("images/im-196106.jpeg") no-repeat;
	background-size: cover;
	color: white;


} 

.three_title{
	font-size:1.6em;
	text-align: center;
	padding-top:5%;
}

.position__three{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.input{
	width: 20%;
	font-size: 150%;
	border: 1px solid #f0f0f0f0;
	border-radius: 5px;
}


.inputsp{
	margin-left: 1%;

}
.date{
	width: 20%;
}
.test-0-fdt, .test-0-fat, .test-0-fa, .test-0-fd{
	opacity: 40%;
	font-weight: 400;

}

input:focus{
	opacity: 100%;
	outline: none;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.person{
	width: 100%;
	margin-top: 3%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}

.value_person{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20%;
}

.test-0-fbs{
	margin-top: 5vh;
	height: 40px;
	width: 130px;
	font-size: 1.5em;
	margin-left: 1%;
	transition: all 0.3s linear;
}
.test-0-fbs:hover{
	box-shadow: 5px 5px 10px hsla(252, 90%, 16%, 0.815);
}


input{
	box-sizing: border-box;
}
.person_text{
	font-size:150%;
}

.test-0-fnp{
	width: 18%;
	margin-bottom: 5%;
	text-align: center;
	margin-top: 4%;
}

.ser_block{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 200px;
	width: 80%;
	padding: 3%;
	margin: 10% auto;
	background-color: hsla(0, 0%, 55%, 0.5);
	border-radius: 30px;


}

.windows__four{
	margin: 0 auto;
	height: 600px;
	width: 85%;
	overflow: hidden;

}
.block_stock{
	transition: all 1s linear;
	display: flex;
	position: relative;
	justify-content: space-between;
}


.stock {
	position: relative;
	z-index: 0;
	border-radius: 0.4vw;
	margin-top: 3vw;
	width: 90rem;
	height: 32rem;
	display: flex;
	flex-direction: column;
	background: #fff;
	transition: all 0.5s linear;
}


.stock:hover{
	box-shadow: 5px 5px 10px hsla(252, 90%, 16%, 0.815);
}

.stock:hover img{
	filter: brightness(.5);
}





.stockq{
	margin-left: 10%;
	transform: translate(40px, 0);
}
.test-0-ai {
	z-index: 0;
	transition: all 1s linear;
	border-radius: 0.4vw;
	width: 28.5rem;
	height:16rem;
	background: linear-gradient(120deg, #0000002f 0%,  #000000c0 0%), url(images/promotions/promotion1.jpg);
}



.test-0-adm{
	z-index: 1;
	position: absolute;
	color: black;
	opacity: 0;
	height: 10%;
	width: 35%;
	bottom: 20%;
	border:2px solid hsla(0, 0%, 55%, 0.5);
	border-radius: 5px;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	justify-content: center;
	background: #fff;
	align-items: center;	
	transition: opacity 0.5s linear;
	cursor: default;
}

.stock:hover .test-0-adm {
	opacity: 1;
}


.test-0-an {
	/*font-family: 'Robot-medium';*/
	margin-top: 3vw;
	text-align: center;
	font-size: 1.4em;
}
.test-0-ad {
	margin-top: 3vw;
	margin-left: 0.8vw;
	margin-right: 0.8vw;
	height: 20vw;
	color: grey;
}

.slader {
	position: absolute;
	left: 50%;
	margin: 0 auto;
	transform: translate(-50.1%, 0);
	width: 88%;/*1200*/
	height: 10%;
	top: 381%;
	display: flex;
	justify-content: space-between;
}

.arrow1:hover,.arrow2:hover{
	opacity: 0.8;
}
.arrow1 {
	background: url(images/arrow-alt-circle-left.svg) no-repeat;

	position: relative;
}
.slader div{

	width: 6%;
	height: auto;
}
.arrow2, .arrow1{
	opacity: 0.5;
	transition: opacity 0.5s linear;
}
.arrow2 {
	background: url(images/arrow-alt-circle-right.svg) no-repeat;
}

.subscription {
	width: 100%;
	height: 50vh;
	position: relative;
	background-size: cover;
}
.sub_title {
	padding-top: 3%;
    font-size: 2em;
    text-align: center;
}
.sub_input{
	width: 40%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.test-0-sie {
	font-size: 150%;
	border: 1px solid #f0f0f0f0;
	border-radius: 5px;
	margin-left: 1%;
	width: 60%;
	padding-left: 3vh;
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);

}
.test-0-sbs {
	font-size: 120%; 
	border: 1px solid #000000f0;
	border-radius: 5px;
	padding: 10px 30px;
	background-color: none;
	transition: .5s all;
	cursor: pointer;
}

.test-0-sbs:hover{
		background: #000;
		color: white;
}


footer{
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;

	background: linear-gradient(90deg, #000000f1 0%,  #000000 0%);
}
.test-0-phone {
	color: white;
	margin-top: 1vw;
}
.contain {
	width:100%;
	height: 1%;
	display: flex;
	justify-content: space-between;

	margin-top: 2%;
}
.column {
	height: 8vw;
	color:#f0f0f0f0;
	display: flex;
	flex-direction: column;
	align-items: center;

}




.text{
	display: block;
	margin-top: 10px;
}


.column a:hover{
	border-bottom: 1px solid #fff;
}


.footer_text_logo{
	display: flex;
	flex-direction: column;	
	justify-content: center;
	margin-top: 2%;
}

a{
	text-decoration: none;
	color: white;
}
@media screen and (max-width: 380px){
	.stock{
		margin-left: 25px;

	}
}
@media screen and (max-width: 575px){

	.container{
		width: 100%;
	}

	body{
		color: black;
		font-size: 10px;
	}
	nav{
		display: none;
	}
	.ser_block{
		background-color: hsla(0, 0%, 55%, 0.0);
	}
	.header__title section{
		margin-top: 60px
	}
	.one_title{
		margin-top: 20px;
	}

	.header_button{
		width: 40%;
		heigth: 10%;
	}
	.wind_one{
		flex-direction: column;
		border: none;
	}
	.one_blocks:not(:nth-child(1)) {
	border-left: 1px white;
  }
  .two__windows{
  	height: 400px;
  	margin-top: 20px;
  }
  .position__two{
  	margin-top: 10px;
  	font-size: 1.4em;
  }
  .one_blocks{
  	height: 120px;
  	margin-top: 10px;
  	font-size: 1.25em;
	}
	.two_blockTitle{
		width: 250px;
	}
	.two_text{
		flex-direction: column;
		width: 300px;
	}
	.two_button_text{
		margin-top: 40px;
	}
	.position__three{
		flex-direction: column;
	}
	.position__three input{
		margin: auto;
		margin-top: 15px;
		font-size: 2em;
		width: 200px;
	}
	.inputsp{
		margin-left: 0;
	}
	.person_text{
		margin: auto;
		white-space: nowrap;
	}
	.person{
		flex-direction: column;
	}
	.value_person{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.test-0-fnp{
		font-size: 2em;
		width: 60px;
	}
	.test-0-fbs{
		margin-bottom: 10px;
		font-size: 1.5em;
		margin-top: 50px;	
		
	}
	.windows__four{
		height: 500px;
	}
	.stock{
		height: 400px;
		margin-left: 55px;
	}
	.test-0-ai{
		width: 255px;
	}
	.test-0-an{
		font-size: 1.5em;
	}
	.test-0-ad{
		font-size: 1.4em;
		height: 210px;
		padding: 5px 5px;
	}
	.test-0-adm{
		height: 8%;
		width: 35%;
		font-size: 1.25em;
	}
	.stockq{
		transform: translate(60px, 0);
	}
	.slader{
		width: 100%;
		top: 2400px;
	}
	.slader div{
		width: 10%;
	}

	.stock:hover{
	box-shadow: none;
	}
	.sub_title{
		font-size: 2em;
		padding-top: 5%;
	}

	.subscription{
		margin-top: 5%;
	}
	.sub_input{
		min-width: 50%;
		flex-direction: column;
	}
	.sub_input input{
		
	}
	.test-0-sie{
		width: 200px;
		padding-left: 0.2%;
		font-size: 2em;
	}

	.test-0-logo{
		width: 15%;
	}
	.test-0-phone{
		margin-top: 20px;
	}
	footer{
		height: 250px;
		font-size: 1.5em;
	}
	.test-0-sbs{
		height: 40px;
		width: 130px;
		font-size: 1.25em;
		margin:auto;
		margin-top: 60px;
	}


	.sd{
		
	}
}