@font-face{
	font-family: 'Robot';
	src: url('fonts/Roboto-Regular.ttf');
}

@font-face{
	font-family: 'Robot-bold';
	src: url('fonts/Roboto-Bold.ttf');
}
@font-face{
	font-family: 'Robot-medium';
	src: url('fonts/Roboto-Medium.ttf');
}



body{
	font-family: 'Robot';
	margin: 0 auto;
	background: #E8E8E8;
	background:  rgba(240, 255, 255,0.8);
	background-repeat: no-repeat;
	background: linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.3) 0%),  url(../images/im-196106.jpeg) no-repeat;
	background-size: cover;
}


header{
	background-size: 100%;
}


nav{
	width: 100%;
	height: 60px;
	color: white;
	background:hsla(252, 90%, 16%, 0.815);	
	display: flex;
	align-items: center;
}


.container{
	width: 1170px;
	margin: 0 auto;
}

.block__nav{
	padding: 0 auto;
}

.test-0-logo{
	display: block;
	width: 3.5%;
	height: auto;
	margin-left: 1%;
}
.logo{
	float: left;
}
.position{
	display: flex;
	justify-content: space-between;
	margin-left: 59%;
}


.window_three{
	margin-top: 3vh;
	display: block;
	height: 100vh;
	width: 100%;
	background-size: cover;
	color: white;
	border: 2px solid #f0f0;

} 

.three_title{
	width: 100%;
	font-size:120%;
	margin-left: 2vw;
	display: flex;
	justify-content: center;}
.title_ser{
	margin-top: 20px;
}
.position__three{
	width: 100%;
	margin-top: 2%;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	justify-content: cener;

}


.position__person{
	width: 150vh;
	height: 40%;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	justify-content: cener;
}


.ser_block{
	margin: auto;	
	height: 210px;
	width: 150vh;
	display: block;
	margin-top: 1vw;
	background-color: hsla(252, 90%, 16%, 0.6);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.person_block{
	height: 300px;
	border-radius: 10px;
	display: flex;
	background-color:  hsla(252, 90%, 16%, 0.6);;
	margin-top: 3%;
	display: flex;
	flex-direction: column;
	justify-content: cener;
}

.position__three {

}

.train {
	border-bottom: 1px solid;
	width: 85%;
	display: flex;
	justify-content: space-between;


}
.number_train{
	display: flex;
}

.train_elemnts{
	margin-top: 3%;
	display: flex;
	width: 100%;
	align-items: center;
}

.test-4-fn {}
.test-5-from{
	margin-left: 50px;
	white-space: nowrap;
}
.test-4at{
	width: 60px;
	margin-left: 30px;
	white-space: nowrap;
}
.info_train {
	width: 80%;
	display: flex;
	flex-direction: row;
	margin-left: 4vw;
	justify-content: space-between;
}
.train_button{
	width: 20%;
	height: 90%;
	display: flex;
	justify-content: center;
}
.date_aks {}
.test-4-dd {}
.test-4-dt {
	font-size: 0.8em;
	text-align: center;
}
.time_train {}
.test-5-ft{
	color: #fff;
}

.test-5-at, .test-5-dd, .test-5-dt  {
	font-size: 0.8em;
	text-align: center;
}

.test-5-dd, .test-5-dd{
	margin-bottom: 1vh;
}

.test-5-dt, .test-5-at{
	margin-top: 1vh;
} 
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	height: 100%;
	border-radius: 0.3vw;
	background: hsla(252, 90%, 16%, 0.815);	
	color: white;
}



.person_text {
	font-size: 1.5em

}
.count_person {
	display: flex;
	margin-top: 3%;
	align-items: center;

}

nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input_person {
	margin-left: 5%;
	display: block;
	background: #fff;
	color: black;
	width: 5%;
	height: 85%;
	text-align: center;
	font-size: 1.2em;

}
.collection_peson{
	display: flex;
	flex-direction: column;
	margin-top: 3%;
}

.person_number{
	font-size: 1.2em;
	margin-left: 1%;
}
.person_map{
	max-width: 35%;
	min-width: 8%;
	margin-left: 1.6%;
}

.info_person {
	display: flex;
	margin-top: 1%;
}

.place_map{
	margin-left: 8%;
}

.map_person{
	display: flex;
}
.test-5-name {

}
.test-5-add{
	margin-left: 4%;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.input{
	height: 80%;
	max-width: 35%;
	min-width: 8%;
	font-size: 150%;
	border: 1px solid #f0f0f0f0;
	border-radius: 5px;
	margin-left: 1%;
	white-space: nowrap;
}
.count{
	height: 80%;
	width: 2%;
	text-align: center;
	font-size: 150%;
	border: 1px solid #f0f0f0f0;
	border-radius: 5px;
	margin-left: 1%;
}
.number{
	outline-style: none;
	font-size: 150%;
	width: 3%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: #fff;
}
.test-5-last {}
.test-5-dob {}
.test-5-doc {}
.person_button {
	display: flex;
	margin: auto;
	margin-top: 9%;
	width: 170px;
	height: 40px;
	background: #fff;
	align-items: center;	
	justify-content: center;
	border-radius: 3px;	
	cursor: default;	
}

.test-5-book{
	
	color: black;
}